body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER SECTION*/

header{
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -8px;
    background-color: rgb(31, 41, 55);
}

header > img{
    height: 30px;
    width: 30px;
}

h1{
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-left: 5px;
}

/*BODY SECTION*/

main{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 20% 75%;
    grid-gap: 10px;
}

/*SIDE BAR*/

ul{
    list-style-type: none;
}

li{
    margin-top: 20px;
}

li > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

li > img{
    margin-right: 5px;
    height: 20px;
}

/*User Info*/

#uicon{
    float: left;
}

button{
    height: 25px;
    border-radius: 5px;
    border-color: transparent;
    float: right;
}

#to-me{
    background-color: #4ade80;
    margin-right: 10px;
}

#switch{
    background-color: #fbbf24;
}

#Contact > p{
    margin: -5px;
}

#Contact > h2{
    margin-top: -1px;
    margin-bottom: -5px;
}

#Contact{
    padding: 5px;
}

/*CONTACT DETAILS*/

#Details{
    clear: both;
    margin-top: 25px;
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

/*CONTACT NOTES*/

#Notes{
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#Add-notes{
    background-color: lightgrey;
}

#Add-notes > *{
    margin-left: 9px;
}

textarea{
    width: 98%;
    height: auto;
}