body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER SECTION*/

header{
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -8px;
    background-color: rgb(31, 41, 55);
}

header > img{
    height: 30px;
    width: 30px;
}

h1{
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-left: 5px;
}

/*BODY SECTION*/

main{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 20% 75%;
    grid-gap: 10px;
}

/*SIDE BAR*/

ul{
    list-style-type: none;
}

li{
    margin-top: 20px;
}

li > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

li > img{
    margin-right: 5px;
    height: 20px;
}

/*Welcome Section*/

#welcome{
    text-align: center;
}

#admin > button{
    width: 25%;
    height: 25px;
    background-color: #4f46e5;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}